body{
    color:#fff
}

.template-container {
    margin:auto;
    max-width: 1000px;
    border:10px solid #cbe8e9;
}

.header2.bg-success-gradiant {
    background:#0e6163;

    /*background: #2cdd9b;
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);*/
}

.title{
    background:#1dc8cc;
    background: linear-gradient(to right, #1dc8cc 10%, #2cdd9b 100%);
    padding:0px 0px 0px 85px;
    font-family:'Cancellaresca Script LET Plain';
}

i{
    font-size:3rem;   
}

.header2 .font-12 {
    font-size: 12px
}

.header2 .dropdown-item {
    padding: 5px 1rem;
}

.header2 .dropdown-item:hover{
    background:#1dc8cc;
    opacity:0.5
}

.header2.h2-nav .navbar-nav .nav-item .nav-link {
    padding: 10px 0px;
    font-weight: 400
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link:hover {
    color:#8eecee;
}

.header2 .h2-nav .navbar-nav .nav-item {
    margin:0px 28px 0px 4px;
    padding:1px
}

.header2 .dropdown-toggle::after {
    display: none
}

.header2 .btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.header2 .btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124
}

.header2 .h2-nav .navbar-nav .nav-item .btn{
    color:#fff
}

.header2 .h2-nav .navbar-nav .nav-item .btn:hover {
    opacity: 0.5
}

.header2 .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0;
    display: none;
}

.nav-item #navbarDropdown{
    background:#8eecee;
    background: linear-gradient(to right, #8eecee 0%, #2cdd9b 100%);
    border-radius:0.7rem;
}

/*body*/
.home_page{
    background:#279b9f;
    /*background: #2cdd9b;
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);*/
}

.uni_logo{
    width:90px;
    float:left;
    margin:30px 0px 0px 70px
}

.welcome{
    margin: 10px;
    padding: 20px;
    text-align:center;
}

.uni{
    font-family:'Times New Roman', Times, serif;
    line-height:110px;
}

.fresher{
    font-family:CommercialScript;
    margin-top:60px;
}