.header2.bg-success-gradiant {
    background: #2cdd9b;
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.header2 .font-12 {
    font-size: 12px
}

.header2 .dropdown-item {
    padding: 5px 1rem;
}

.header2 .dropdown-item:hover{
    background:#1dc8cc;
    opacity:1
}

.header2.h2-nav .navbar-nav .nav-item .nav-link {
    padding: 10px 0px;
    font-weight: 400
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link:hover {
    color:#8eecee;
}

.header2 .h2-nav .navbar-nav .nav-item {
    margin:0px 28px 0px 4px;
    padding:1px
}

.header2 .dropdown-toggle::after {
    display: none
}

.header2 .btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.header2 .btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124
}

.header2 .h2-nav .navbar-nav .nav-item .btn{
    color:#fff
}

.header2 .h2-nav .navbar-nav .nav-item .btn:hover {
    opacity: 0.5
}

.header2 .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0;
    border-radius: 0.30rem;
    display: none;
}
