@{
    ViewBag.Title = "Contact";
}
<div class="home_page col-12">
    <img src="~/Images/Uni_Logo.jpg" class="uni_logo" />
    <div class="welcome">
        <h6 class="uni">University Of Computer Studies (Pang Long)</h6>
        <h5>Contact us.</h5>
        <h3 class="fresher">Fresher Welcome Party</h3>
        <p>Welcome all the freshers to UCSPL</p>
    </div>
</div>
