@{
    ViewBag.Title = "Home Page";
}
<div class="home_page">
        <img src="~/Images/Uni_Logo.jpg" class="uni_logo" />
    <div class="welcome">
        <h2 class="uni">University Of Computer Studies (PangLong)</h2>
        <h3 class="fresher">Fresher Welcome Party</h3>
        <p>Welcome all the freshers to UCSPL</p>
    </div>
</div>